@{
	ViewData["Title"] = "Home Page";
}
<form asp-action="Generate" asp-controller="BudgetReport" enctype="multipart/form-data">
	<input type="file" name="transactions" />
	<input type="submit" />
</form>